<!DOCTYPE html>
<html>
  <head>
    <title>User Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="icon" type="image/png" href="static/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="topnav">
      <h1>User Email</h1>
      <span style="font-size: 30px; cursor: pointer" onclick="openNav()"
        >&#9776;</span
      >
    </div>
    <div class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a class="nav-button" href="index.html"> Home</a>
      <a class="nav-button" href="user-email.html">User Email</a>
      <a class="nav-button" href="wifimanager.html">Connection</a>
      <a class="nav-button" href="content.html">Clothes</a>
    </div>
    <div class="content">
      <div class="card email-card">
        <p class="card-title">Enter Your Email</p>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="your-email@example.com"
        />
      </div>
    </div>
    <script src="static/js/nav.js"></script>
  </body>
</html>
